@model  TP_Final_BD_MVC_Session5.ViewModels.TeamsViewModel

@{
    ViewBag.Title = "Contact";
}
<body style="background-color: #fff">

    <div style="margin-top: 70px">

        <div class="col-lg-12" style="margin-bottom: 20px">
            @Html.ActionLink("Ajouter équipe", "Insert", "Teams", new { @class = "btn btn-lg btn-default" })
        </div>




        @if (ViewBag.HasRow)
        {
            do
            {
            
             <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">
                        @Model.NomEquipe.ToString()
                    </h4>
                </div>
                <div class="panel-body text-center" style="padding: 0px">
                    <img src="~/Images/@Model.LogoEquipe.ToString()" style="max-width: 350px" class="img-responsive" />
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Nom Sport: @Model.Nom.ToString()</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i> Classement: @Model.Classement.ToString()</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Date Creation: @Model.DateCreation.ToString()</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>@Html.ActionLink("Supprimer", "Index", "Teams", new { idToDelete = @Model.Id }, new { })</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>@Html.ActionLink("Modifier", "UpdateTeam", "Teams", new { idToUpdate = @Model.Id }, new { })</li>
                </ul>
                <div class="panel-footer">
                    @Html.ActionLink("Players", "Index", "Joueurs", new { idTeam = @Model.Id }, new { @class = "btn btn-lg btn-block btn-default" })
                </div>
            </div>
        </div>


            } while (Model.Next());
        }
    </div>

</body>
