@model TP_Final_BD_MVC_Session5.Models.Teams

@{
    ViewBag.Title = "UpdateESport";
}




@using (Html.BeginForm("UpdateTeam", "Teams", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="span3 well col-lg-6 col-lg-offset-3" style="margin-top: 30px">
        <div class="form-horizontal" align="center">
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.LogoEquipe)

            <div class="form-group">
                @Html.LabelFor(model => model.NomEquipe, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(model => model.NomEquipe)
                    @Html.ValidationMessageFor(model => model.NomEquipe)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => Model.IdSport)

                <div>
                    <select name="IdSport">

                        @{
    TP_Final_BD_MVC_Session5.Models.Esports allEsports = new TP_Final_BD_MVC_Session5.Models.Esports();

    if (allEsports.SelectAll())
    {
        do
        {
            <option value="@allEsports.Id" @(allEsports.Id == Model.IdSport ? "selected" : "")>@allEsports.Nom</option>
        } while (allEsports.Next());
    }

                        }
                    </select>

                    @Html.ValidationMessageFor(model => Model.IdSport)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Classement, new { @class = "control-label" })
                <div>
                    @Html.TextBoxFor(model => model.Classement)
                    @Html.ValidationMessageFor(model => model.Classement)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LogoEquipe, new { @class = "control-label" })
                <div>
                    <input name="NouveauLogo" type="file" accept="image/png" />
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
