@model  TP_Final_BD_MVC_Session5.ViewModels.CompositionsEquipesViewModel

@{
    ViewBag.Title = "Contact";
}
<body style="background-color: #fff">

    <div style="margin-top: 70px">

        <div class="col-lg-12" style="margin-bottom: 20px">
            <form action="" method="get">
                <div class="col-lg-4" style="margin-bottom: 20px">


                    <fieldset>
                        <select id="MovieType" name="Trier" class=" form-control">

                            <option value="NomComplet">Nom</option>

                            <option value="Score">Score</option>

                        </select>

                    </fieldset>

                </div>
                <input type="submit" class="btn btn-md btn-default" name="Trier" value="Trier" />
                @Html.ActionLink("Ajouter un joueur", "Insert", "ComposittionEquipes", new { @class = "btn btn-md btn-default" })
            </form>
        </div>

        @if (ViewBag.HasRow)
        {

          
                <div class="row custyle">
                    <h4 class="text-center">
                        Table de joueur
                    </h4>
                    <table class="table table-striped custab">
                        <thead>

                            <tr>
                                <th>Image</th>
                                <th>Nom</th>
                                <th>NomEquipe</th>
                                <th>LogoEquipe</th>
                                <th>Nom Sport</th>
                                <th>Logo Sport</th>
                                <th>Score</th>
                                <th>Supprimer</th>
                                <th>Modifier</th>
                            </tr>
                        </thead>

                        @do
                        {
                            <tr>
                                <td>
                                    <img src="~/Images/@Model.Photo.ToString()" style=" height: 150px; width: 150px"/>
                                </td>
                                <td>@Model.NomComplet.ToString()</td>
                                <td>@Model.NomEquipe.ToString()</td>
                                <td>
                                    
                                    <img src="~/Images/@Model.LogoEquipe.ToString()" style=" height: 150px; width: 150px" />
                                </td>
                                <td>@Model.Nom.ToString()</td>
                                <td>
                                    <img src="~/Images/@Model.Logo.ToString()" style=" height: 150px; width: 150px" />
                                </td>
                                <td>@Model.Score.ToString()</td>
                                <td>@Html.ActionLink("Supprimer", "Index", "CompositionsEquipes", new { idToDelete = @Model.Id }, new { })</td>
                                <td>@Html.ActionLink("Modifier", "UpdateCompositionsEquipes", "CompositionsEquipes", new { idToUpdate = @Model.Id }, new { })</td>
                            </tr>
                        } while (Model.Next());
                    </table>
                </div>

        }
    </div>

</body>
