@model  TP_Final_BD_MVC_Session5.Models.Joueurs

@{
    ViewBag.Title = "Contact";
}
<body style="background-color: #fff">

    <div style="margin-top: 70px">

        <div class="col-lg-12" style="margin-bottom: 20px">
            <form action="" method="get">
                <div class="col-lg-4" style="margin-bottom: 20px">


                    <fieldset>
                        <select id="MovieType" name="Trier par..." class=" form-control">

                            <option value="0">Nom</option>

                            <option value="1">Date Naissance</option>

                        </select>

                    </fieldset>
                    
                </div>
                <input type="submit" class="btn btn-md btn-default" name="Trier" value="Trier" />
                @Html.ActionLink("Ajouter un joueur", "Insert", "Joueurs", new { @class = "btn btn-md btn-default" })
            </form>
        </div>


        @if (ViewBag.HasRow)
        {

            <div class="container">
                <div class="row col-md-12 custyle">
                    <h4 class="text-center">
                        Nom Equipe
                    </h4>
                    <table class="table table-striped custab">
                        <thead>

                            <tr>
                                <th>Image</th>
                                <th>Nom</th>
                                <th>Date Naissance</th>
                                <th>Supprimer</th>
                                <th>Modifier</th>
                            </tr>
                        </thead>

                        @do
                        {


                                <tr>
                                    <td>
                                        <div style="background-image:url(/Images/@Model.Photo.ToString()); background-size: cover; height: 150px"></div>
                                    </td>
                                    <td>@Model.NomComplet.ToString()</td>
                                    <td>@Model.DateNaissance.ToLongDateString()</td>
                                    <td>@Html.ActionLink("Supprimer", "Index", "Joueurs", new { idToDelete = @Model.Id }, new { })</td>
                                    <td>@Html.ActionLink("Modifier", "UpdateJoueur", "Joueurs", new { idToUpdate = @Model.Id }, new { })</td>
                                </tr>

                        }while (Model.Next());
                    </table>
                </div>
            </div>
        }
    </div>
</body>
