@model  TP_Final_BD_MVC_Session5.Models.Joueurs

@{
    ViewBag.Title = "Contact";
}
<body style="background-color: #1f1f1f">
    @if (ViewBag.HasRow)
    {
        do
        {
            <br />
            @Model.NomComplet.ToString();
        <br />
        @Model.DateNaissance.ToLongDateString();
        <br />

        <img src="~/Images/@Model.Photo.ToString()" />
        <br />
        @Html.ActionLink("Supprimer", "Index", "Joueurs", new { idToDelete = @Model.Id }, new { });
        <br />
        @Html.ActionLink("Modifier", "UpdateJoueur", "Joueurs", new { idToUpdate = @Model.Id }, new { });
        <br />

        } while (Model.Next());
    }

    <div style="margin-top: 70px">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">
                        League Of Legend
                    </h4>
                </div>
                <div class="panel-body text-center" style="padding: 0px">
                    <img src="~/Photo/Lol.png" style="max-width: 350px" class="img-responsive" />
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Personal use</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-default">
                        View Teams
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">
                        League Of Legend
                    </h4>
                </div>
                <div class="panel-body text-center" style="padding: 0px">
                    <img src="~/Photo/csgo.png" style="max-width: 350px" class="img-responsive" />
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Personal use</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-default">
                        View Teams
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">
                        HearthStone
                    </h4>
                </div>
                <div class="panel-body text-center" style="padding: 0px">
                    <img src="~/Photo/hearth.png" style="max-width: 350px" class="img-responsive" />
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Personal use</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-default">
                        View Teams
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">
                        Dota 2
                    </h4>
                </div>
                <div class="panel-body text-center" style="padding: 0px">
                    <img src="~/Photo/Dota.png" style="max-width: 350px" class="img-responsive" />
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Personal use</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-default">
                        View Teams
                    </a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">
                        Heroes of the Storm
                    </h4>
                </div>
                <div class="panel-body text-center" style="padding: 0px">
                    <img src="~/Photo/Heroes.png" style="max-width: 350px" class="img-responsive" />
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Personal use</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-default">
                        View Teams
                    </a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">
                        Overwatch
                    </h4>
                </div>
                <div class="panel-body text-center" style="padding: 0px">
                    <img src="~/Photo/Over.png" style="max-width: 350px" class="img-responsive" />
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Personal use</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-default">
                        View Teams
                    </a>
                </div>
            </div>
        </div>


    </div>

</body>
