@model  TP_Final_BD_MVC_Session5.Models.Joueurs

@{
    ViewBag.Title = "About";
}


<body style="background-color: #fff">

    <div style="margin-top: 70px">

        @using (Html.BeginForm("Insert", "Joueurs", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="span3 well col-lg-4 col-lg-offset-4">
                <legend>Ajouter un Esport</legend>
                @Html.LabelFor(model => Model.NomComplet)
                @Html.TextBoxFor(model => Model.NomComplet)
                @Html.ValidationMessageFor(model => Model.NomComplet)
                <br />
                @Html.LabelFor(model => Model.DateNaissance)
                @Html.TextBoxFor(model => Model.DateNaissance, new { Type = "Date" })
                @Html.ValidationMessageFor(model => Model.DateNaissance)
                <br />
                @Html.LabelFor(model => Model.Photo)
                @Html.TextBoxFor(model => Model.Photo, new { type = "file", accept = "image/png" })
                @Html.ValidationMessageFor(model => Model.Photo)
                <br />
                <input type="submit" value="Créer le joueur" class="btn btn-lg btn-block btn-default" />
            </div>
        }

            </div>
</body>