@model  TP_Final_BD_MVC_Session5.Models.Esports

@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("Insert", "ESports", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.LabelFor(model => Model.Nom); 
    @Html.TextBoxFor(model => Model.Nom);
    @Html.ValidationMessageFor(model => Model.Nom)
    <br />
    @Html.LabelFor(model => Model.DateCreation); 
    @Html.TextBoxFor(model => Model.DateCreation, new { Type = "Date" });
    @Html.ValidationMessageFor(model => Model.DateCreation)
    <br />
    @Html.LabelFor(model => Model.Logo); 
    @Html.TextBoxFor(model => Model.Logo, new { type = "file", accept="image/png" })
    @Html.ValidationMessageFor(model => Model.Logo)
    <br />
    <input type="submit" value="Créer l'équipe" />
}


<p>Use this area to provide additional information.</p>
